
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<h2><b>My Educational details in <u>order list</u></b></h2>

<ol>
    <li class="alert-info">SSC - Thakurgaon Govt Boys High School </li>
    <li>HSC - BAF Shaheen Collage Dhaka </li>
    <li class="alert-info">BSC - American International University-Bangladesh(ongoing)</li>
    
</ol>

