
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>
<h2><b>All oop1,oop2,we projects in <u>unordered list</u></b></h2>

<ul>
    <li class="alert-info">OOP1 -Restaurant management system</li>
    <li>OOP2 -One time renting App(Regular things giving rent)</li>
    <li class="alert-info">WebTec - Get Your Med(online medicine application)</li>
    
</ul>



