
@{
    ViewBag.Title = "Referance";
}

<h2><b>Referance</b></h2>


<ul>
    <p><a href="https://github.com/Nahid19-1">GitHub Profile link</a></p>
    <p><cite>Email :</cite> Nahid@gmail.com</p>

</ul>
