<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="FinalNewsEntities" connectionString="metadata=res://*/Database.FNT.csdl|res://*/Database.FNT.ssdl|res://*/Database.FNT.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAHID;initial catalog=FinalNews;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>