@model Task2_ProductsInfo_Dynamic_List.Models.Product
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_FirstPage.cshtml";
}

<h3 align ="center" class="label-info">This is the Home page</h3>


<h4>Id :@Model.Id </h4>
<h4>Name :@Model.Name </h4>

<h4>Log In Time :@Model.PDate </h4>

